<a href="https://colab.research.google.com/github/vatsalgoyal44/SoC2k21/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas**

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
labels = ['a', 'b', 'c']

In [ ]:
my_data = [10,20,30]

In [ ]:
arr = np.array(my_data)

In [ ]:
d = {'a' : 10, 'b': 20, 'c':30}

In [ ]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(index = labels, data = my_data)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(labels,my_data)

10    a
20    b
30    c
dtype: object

In [ ]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [ ]:
ser1 = pd.Series([1,2,3,4], ['USA','Germany','USSR','Japan'])

In [ ]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],['USA', 'Germany', 'Italy', 'Japan'])

In [ ]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser1['USA']

1

In [ ]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

note - integers are converted to floats

# **Data Frames**

In [ ]:
 from numpy.random import randn

In [ ]:
np.random.seed(101)

NameError: ignored

In [ ]:
df = pd.DataFrame(randn(5,4), ['A','B', 'C','D', 'E'], ['W', 'X', 'Y','Z'])

In [ ]:
df

dataframe consists of a bunch of pdSeries(W X Y Z here) that share a common index(A B C D E here

In [ ]:
df['W']

In [ ]:
type(df['W'])

In [ ]:
type(df)

In [ ]:
df.W

In [ ]:
df[['W', 'Z']]

In [ ]:
type(df[['W', 'Z']])

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

In [ ]:
df.drop('new', axis = 1)

In [ ]:
df.drop('A')

In [ ]:
df

In [ ]:
df.drop('new', axis = 1, inplace = True)

In [ ]:
df

In [ ]:
df.drop('D', inplace = True)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
# rows

In [ ]:
df.loc['A']

In [ ]:
df.iloc[2]

In [ ]:
df.loc['B', 'Y']

In [ ]:
df.loc[['A', 'B'], ['W','Y']]

In [ ]:
df>0

In [ ]:
booldf = df>0

In [ ]:
booldf

In [ ]:
df[booldf]

In [ ]:
df[df>0]

In [ ]:
df

In [ ]:
df['W']>0

In [ ]:
df[df['W']>0]

In [ ]:
df[df['Z']<0]

In [ ]:
df[df['Z']>0][['X','Y']]

In [ ]:
 df[(df['W']>0) and (df['Y']>0)]

In [ ]:
 df[(df['W']>0) & (df['Y']>0)]

In [ ]:
 df[(df['W']>0) or (df['Y']>0)]

In [ ]:
 df[(df['W']>0) | (df['Y']>0)]

In [ ]:
df

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
newind = 'CA NY WY'.split()

In [ ]:
newind

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
#copy
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside= [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [ ]:
df

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names = ['Groups', 'Num']

In [ ]:
df

In [ ]:
df.loc['G2'].loc[2].loc['B']

In [ ]:
df.xs('G1')

In [ ]:
df.xs(1, level= 'Num')

**Missing Data**

In [ ]:
d = {'A':[1,2,np.nan], 'B' : [5,np.nan,np.nan], 'C': [1,2,3]}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(axis = 1)

In [ ]:
df

In [ ]:
df.dropna(thresh = 2)

In [ ]:
df.fillna(value = 'FILL VALUE')

In [ ]:
df['A']

In [ ]:
df['A'].fillna(value = df['A'].mean())

## **Groupby**

In [ ]:
data = {'Company' : ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB','FB'], 'Person' : ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl','Sarah'], 'Sales' : [200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
byComp = df.groupby('Company')

In [ ]:
byComp

In [ ]:
byComp.mean()

In [ ]:
byComp.sum()

In [ ]:
byComp.sum().loc['FB']

In [ ]:
df.groupby('Company').count()

In [ ]:
df.groupby('Company').max()

In [ ]:
df.groupby('Company').describe()

## **Operations**

In [ ]:
df = pd.DataFrame({'col1' : [1,2,3,4], 'col2' : [444,555,666,444], 'col3': ['abc','def','ghi','xyz']})

In [ ]:
df.head()

In [ ]:
df['col2'].unique()

array([444, 555, 666])

In [ ]:
len(df['col2'].unique())

In [ ]:
df['col2'].nunique()

3

In [ ]:
df['col2'].value_counts()

In [ ]:
df

In [ ]:
df[df['col1']>2]

In [ ]:
def times2(x):
  return x*2

In [ ]:
df['col2'].sum()

In [ ]:
df['col2'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col2'].apply(lambda x: x*2)

In [ ]:
df.drop('col1', axis =1)

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.sort_values('col2')

In [ ]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False